{% extends 'Creator/dashboard.html' %} 

{% block title %}Create Movie{% endblock title %} 


{% block movieAction %}

<div class="container"> 
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p class='text-white'>Title</p> 
    {{form.title}} 
    <p class='text-white'>Description</p> 
    {{form.description}}
    <p class='text-white'>Video File</p> 
    {{form.video_file}} 
    <p class='text-white'>Thumbnail</p> 
    {{form.thumbnail}} 
    <p class='text-white'>Category</p> 
    {{form.category}} <br> 
    <button type="submit" class="btn btn-primary">Create</button> 
</form>
</div> 
{% endblock movieAction %}